amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
appnope==0.1.0
astroid==1.4.9
backports.functools-lru-cache==1.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.19
configparser==3.5.0
decorator==4.0.11
Django==1.8.4
django-extensions==1.5.6
enum34==1.1.6
Envelopes==0.4
futures==3.0.5
gevent==1.2.1
gnureadline==6.3.3
greenlet==0.4.12
grequests==0.2.0
hiredis==0.2.0
ipython==4.0.0
ipython-genutils==0.1.0
isort==4.2.5
kombu==3.0.37
langdetect==1.0.5
lazy-object-proxy==1.2.2
Logbook==0.10.1
logilab-common==1.3.0
lxml==3.6.0
mccabe==0.6.1
meld3==1.0.2
mongoengine==0.10.7
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.9.0
ply==3.10
ptyprocess==0.5.1
pylint==1.6.5
pymongo==2.9
pyparsing==2.2.0
pytz==2016.10
raven==5.6.0
redis==2.10.5
requests==2.13.0
scandir==1.5
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
supervisor==3.0a10
thrift==0.9.3
thrift-connector==0.21
thriftpy==0.3.9
tinys3==0.1.11
traitlets==4.3.2
uWSGI==2.0.12
uwsgitop==0.9
wrapt==1.10.10
boto==2.48.0
botocore==1.7.10
s3transfer==0.1.11
eth-abi==1.1.1 
eth-account==0.3.0 
eth-rlp=0.1.2 
parsimonious=0.8.0 
requests=2.19.1 
web3=4.5.0 
websockets=5.0.1




